/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of theimage-replace containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.image-replace {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.image-replace:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.removed {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .hidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.hidden.focusable:active,
.hidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Hosted fonts
   ========================================================================== */

@font-face {
  font-family: CourtneyDorkling;
  src: url(../fonts/courtneydorkling.ttf);
}

/* ==========================================================================
   Default Screen styles.
   ========================================================================== */

body {
  background: url(../img/woodgrain.jpg) repeat; 
  font-family: "Helvetica", "Arial", sans-serif;
  height: 600px; 
  width: 888px; 
  overflow: hidden;
}

/* Simulate polaroid snapshot */
.polaroid {
  position: absolute;
  border: 17px solid #ECEAEB;
  border-bottom: 60px solid #ECEAEB;
  background-color: #ECEAEB;

  -webkit-box-shadow: 3px 3px 7px rgba(50, 50, 50, 0.35);
  -moz-box-shadow:    3px 3px 7px rgba(50, 50, 50, 0.35);
  box-shadow:         3px 3px 7px rgba(50, 50, 50, 0.35);
}

#title {
  left: 17px;
  top: 25px;
  z-index: 2;

  -moz-transform: rotate(-4deg);
  -webkit-transform: rotate(-4deg);
  -o-transform: rotate(-4deg);
  -ms-transform: rotate(-4deg);
  transform: rotate(-4deg);
}
#title h1 {
  margin: 0;
}

#description {
  left: 259px;
  top: 67px;
  z-index: 1;
}
#description h2 {
  margin: 0;
}

#event-details {
  left: 525px;
  top: 9px;
  text-align: right;
  width: 224px;

  /* override `.polaroid` border-bottom to accomodate "handwriting" */
  border-bottom: 40px;

  -moz-transform: rotate(1.8deg);
  -webkit-transform: rotate(1.8deg);
  -o-transform: rotate(1.8deg);
  -ms-transform: rotate(1.8deg);
  transform: rotate(1.8deg);
}
#event-details em {
  font-family: 'CourtneyDorkling', sans-serif;
  font-size: 12px;
  color: #4b4b4b;
  margin: 1em 0;
  display: block;
}

#invitation,
.response {
  background: #fff url(../img/bkg-invitation-texture.png) repeat;
  border: 2px solid #fff;
  padding: 27px 129px 29px 29px;
  width: 579px;

  -webkit-box-shadow: 7px 7px 5px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    7px 7px 5px rgba(50, 50, 50, 0.75);
  box-shadow:         7px 7px 5px rgba(50, 50, 50, 0.75);
}

#invitation {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 3;
}

/* Headers (<h1> .. <h6>) */
h1,
h2 {
  font-family: 'PT Sans', 'Helvetica Neue', 'Arial', sans-serif;
  color: #3A3A3A;
  font-weight: normal;
  margin-bottom: 15px;
  margin-top: 0;
}
h1 {
  font-size: 30px;
}
h2 {
  font-size: 28px;
}

#invitation p {
  font-family: 'Arial', sans-serif;
  font-size: 12px;
  line-height: 1.8em;
  color: #4b4b4b;
}

/* Call-to-Action links */
.call-to-action {
  color: #fff;
  border-radius: 3px;
  display: inline-block;
  margin-right: 20px;
  padding: 15px;
  text-align: center;
  text-decoration: none;

  font-family: 'PT Sans', 'Helvetica Neue', 'Arial', sans-serif;
  text-transform: uppercase;
  background-color: #3A3A3A;
}
.call-to-action.primary,
.call-to-action.primary:active,
.call-to-action.primary:visited {
  background-color: #f78b36;
}
.call-to-action:hover,
.call-to-action:focus {
  background-color: #4b4b4b;
}

/* Position decorational polaroid background shots */
#boot,
#abstract {
  position: absolute;
}

#boot {
  bottom: -140px;
  left: 629px;

  -moz-transform: rotate(3deg);
  -webkit-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
}

#abstract {
  bottom: 0px;
  right: -220px;

  -moz-transform: rotate(-15deg);
  -webkit-transform: rotate(-15deg);
  -o-transform: rotate(-15deg);
  -ms-transform: rotate(-15deg);
  transform: rotate(-15deg);
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile fimage-replacest') styles.
   Modify as content requimage-replacees.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid requimage-replaceed HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .image-replace a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
